

@{ ViewBag.Title = "Quản lý nhà cung cấp";
}
<!-- Form để tìm kiếm -->
<div class="container-fluid">
    <form id="formSearchInput">
        <div class="input-group">
            <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </form>
</div>


<div id="listSuppliers" class="container-fluid">

</div>

@section scripts {
    <script>
        function getSuppliers(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Supplier/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listSuppliers").empty();
                    $("#listSuppliers").html(data);
                }
            });
        }

        $(document).ready(function () {
            getSuppliers(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getSuppliers(1);
            });

        });

    </script>
}

